@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import "styles/fonts";

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
}

#open-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 499;

    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: cornflowerblue;
        margin: 6px 0;
    }
}

aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
    background: rgba(100, 149, 237, 0.9);
    padding: 1rem;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;

    &.active {
        transform: translateY(0%);
    }

    #close-btn {
        text-decoration: none;
        color: black;
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        font-size: 3rem;
        font-family: Arial;
        font-weight: bold;
    }

    #main-title {
        font-size: 3rem;
        margin: 1rem;
        font-family: RingBearer;
    }

    #filters {
        margin-right: auto;

        fieldset {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem;
            align-items: center;
            padding: 1rem 2rem;
            gap: 1rem;

            legend {
                font-size: 1.8rem;
                margin-right: 2rem;
            }

            checkbox {

            }
        }
    }
}

footer {
    position: absolute;
    bottom: 10px;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: black;
    //aspect-ratio: 5000/4344;
}

.leaflet-popup {
    min-width: 200px;

    .leaflet-popup-close-button {
        margin: 1rem;

        span {
            font-size: 2rem;
        }
    }

    .leaflet-popup-content {
        padding: 10px;
    }

    .title {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .date {
        font-weight: bold;
        font-size: 1rem;
    }

    .description {

    }

    .info-link-container {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    a.info-link {
        border: 1px solid black;
        background-color: rgba(0,0,0,0.78);
        padding: 10px;
        text-decoration: none;
        color: white;

        &:hover {
            opacity: 0.9;
            color: aliceblue;
        }
    }
}


