@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@font-face {
  font-family: RingBearer;
  src: url("./assets/fonts/RingbearerMedium.ttf");
}
aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  background: #F9F4ED;
  transform: translateX(105%);
  transition: all 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  box-shadow: -7px 5px 7px -1px rgba(0, 0, 0, 0.63);
  overflow: visible;
}
@media (min-width: 1000px) {
  aside {
    width: 30vw;
  }
}
aside.active {
  transform: translateX(0%);
}
aside.active #close-btn {
  transform: translateX(0%);
}
aside #close-btn {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  width: 3rem;
  opacity: 1;
  background: #F9F4ED;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.63);
  border-radius: 100%;
  padding: 0.5rem;
  z-index: 500;
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  aside #close-btn {
    left: -1.5rem;
    transform: translateX(100%);
    transition: all 0.1s linear;
  }
}
aside #close-btn:hover {
  text-decoration: underline;
  opacity: 0.9;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.63);
}
aside #main-title {
  font-size: 1.8rem;
  margin: 2rem 0 1rem 0;
  font-family: RingBearer, serif;
  text-align: center;
  text-shadow: -3px 4px 7px rgba(81, 67, 21, 0.8);
}
aside #site-description {
  text-align: center;
}
aside #filters {
  padding: 1rem 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
aside #filters fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: center;
  padding: 0.6rem 2rem;
  gap: 0.5rem 1rem;
  border: 0;
  box-shadow: -5px 3px 7px -1px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}
aside #filters fieldset legend {
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
  padding: 0 1rem;
}
aside footer {
  margin-top: auto;
  text-align: center;
  padding-top: 2rem;
}
aside footer .credits {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.leaflet-popup {
  width: 90vw;
  max-width: 30rem;
  z-index: 420;
}
.leaflet-popup .leaflet-popup-content-wrapper {
  background: #F9F4ED;
}
.leaflet-popup .leaflet-popup-close-button {
  margin: 1rem 2rem;
}
.leaflet-popup .leaflet-popup-close-button span {
  font-size: 2rem;
}
.leaflet-popup .leaflet-popup-close-button:hover {
  text-decoration: underline;
}
.leaflet-popup .leaflet-popup-content {
  padding: 1rem;
  width: auto !important;
}
@media (min-width: 1000px) {
  .leaflet-popup .leaflet-popup-content {
    padding: 1rem 2rem;
  }
}
.leaflet-popup .title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cecece;
  padding-bottom: 1rem;
}
.leaflet-popup .date {
  font-weight: bold;
  font-size: 1rem;
}
.leaflet-popup .description {
  font-size: 1rem;
  line-height: 1.4rem;
}
.leaflet-popup .info-link-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.leaflet-popup a.info-link {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.78);
  padding: 0.6rem;
  text-decoration: none;
  color: white;
  text-align: center;
}
.leaflet-popup a.info-link:hover {
  opacity: 0.9;
  color: aliceblue;
  text-decoration: underline;
}

.path-tooltip {
  background: #F9F4ED !important;
  border-radius: 20px !important;
  padding: 1rem !important;
  max-width: 90vw;
  min-width: 15rem;
  white-space: normal !important;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.path-tooltip .path-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.path-tooltip .path-date {
  font-weight: bold;
}

main.leaflet-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgb(32, 32, 32);
  font-family: "Lora", serif;
}

.leaflet-marker-icon {
  width: 1.8rem !important;
  height: 1.8rem !important;
}
.leaflet-marker-icon:hover {
  opacity: 0.7 !important;
}

.marker-cluster {
  background: transparent !important;
}
.marker-cluster div {
  background-color: rgb(68, 171, 12) !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 100% !important;
}
.marker-cluster div span {
  font-family: "Lora", serif;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.7rem;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-family: "Lora", serif;
  overflow: hidden;
}

body {
  position: relative;
}

#open-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: 410;
  width: 3rem;
}

#open-btn:hover {
  opacity: 0.7;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#loader-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1001;
  background: #F9F4ED;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
  flex-direction: column;
  padding: 2rem;
}

#loader-screen h1 {
  text-shadow: -3px 4px 7px rgba(81, 67, 21, 0.8);
  font-family: "RingBearer", serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

@media (min-width: 1000px) {
  #loader-screen h1 {
    font-size: 5rem;
  }
}

#loader-screen #lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

#loader-screen #lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

#loader-screen #lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

#loader-screen #lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

#loader-screen #lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
