@import "constants";

aside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  background: $primary-color;
  transform: translateX(105%);
  transition: all 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  box-shadow: -7px 5px 7px -1px rgba(0, 0, 0, 0.63);
  overflow: visible;

  @media (min-width: $br-mobile) {
    width: 30vw;
  }

  &.active {
    transform: translateX(0%);

    #close-btn {
      transform: translateX(0%);
    }
  }

  #close-btn {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    width: 3rem;
    opacity: 1;
    background: $primary-color;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.63);
    border-radius: 100%;
    padding: .5rem;
    z-index: 500;
    display: flex;
    justify-content: center;


    @media (min-width: $br-mobile) {
      left: -1.5rem;
      transform: translateX(100%);
      transition: all 0.1s linear;
    }

    &:hover {
      text-decoration: underline;
      opacity: 0.9;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.63);
    }
  }

  #main-title {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 0;
    font-family: RingBearer, serif;
    text-align: center;
    text-shadow: -3px 4px 7px rgba(81, 67, 21, 0.8);
  }

  #site-description {
    text-align: center;
  }

  #filters {
    padding: 1rem 2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    fieldset {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
      align-items: center;
      padding: .6rem 2rem;
      gap: .5rem 1rem;
      border: 0;
      box-shadow: -5px 3px 7px -1px rgba(0, 0, 0, 0.50);
      font-size: 1.2rem;

      legend {
        font-size: 1.5rem;
        margin-right: 2rem;
        font-weight: bold;
        padding: 0 1rem;
      }
    }
  }

  footer {
    .credits {
      font-size: .8rem;
      margin-bottom: 1rem;
    }

    margin-top: auto;
    text-align: center;
    padding-top: 2rem;
  }
}